@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

input,
textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 12px;
  width: 100%;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: rgb(251 146 60);
  border-width: 1px;
}
